.dash{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.pageContent{
    padding-left: 12px;
}