/*Principal variable definition*/
:root { 
  --appColor:  #2E97D1;
  --plank: #111111;
  --btn1: #548995;
  --bookingText :#008000;
  /*Dashboard colors*/
  --first: #55CFCF;
  --second:#40D658;
  --third: #F7B7B7;
  --fourth:#84b5ee;
  --fifth:#E3BF3F;
  --tab:#F5F0F0;
}
#center{
  min-height: 75vh;
}